body {
    background-color: #f4662eda;
    padding: 0;
    margin: 0;
}
.container{
    width: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;

}
input[type="range"]{
    width: 85%;
    /* -webkit-appearance: none; */
    height: 5px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #ffd901;
    height: 25px;
    width: 25px;
    border-radius: 50%;


}


input[id="FaderFreq"]{
    width: 90%;
    /* -webkit-appearance: none; */
    height: 40px;
    top: 740px;
    left: 40px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    outline: none;
}

input[id="FaderFreq"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #ffd901;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

input[id="Fader1"]{
    bottom: 320px;
    left: 10px;

}

input[id="Fader2"]{
    bottom: 240px;
    left: 10px;
}

input[id="Fader3"]{
    bottom: 160px;
    left: 10px;
}

input[id="Fader4"]{
    bottom: 80px;
    left: 10px;
}

input[id="Fader5"]{
    bottom: 0px;
    left: 10px;
}

input[id="Fader6"]{
    top: 80px;
    left: 10px;
}

input[id="Fader7"]{
    top: 160px;
    left: 10px;
}

input[id="Fader8"]{
    top: 240px;
    left: 10px;
}

input[id="Fader9"]{
    top: 320px;
    left: 10px;
}

.freq_value{
    background-color: black;
    color: white;
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: xx-large;
}

.cap{
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    position: relative;
    align-items: center;
    left: 500px;
    bottom: 120px;
}